html {
    font-size: 16px;

    body {
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
        color: white;
        background-color: #666666;

        & > header {
            h1 {
                padding: 0.25rem 0;
                background-color: #222222;
                text-align: center;

                a {
                    color: inherit;

                    &:hover {
                        color: inherit;
                    }
                }
            }

            .navbar-brand {
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        & > main {
            padding: 0.5rem;

            @include for-tablet {
                padding: 1rem;
            }

            @include for-desktop {
                padding: 1rem 1.5rem;
            }

            .error {
                padding: 1rem;
                text-align: center;
                color: white;
                background-color: rgba(red, 0.5);
                border: 1px solid red;
                border-radius: 0.5rem;
            }

            & > header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            h2 {
                margin: 0;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}
